body {
  margin: 20px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/06-10-06smile.jpg/1200px-06-10-06smile.jpg); 
  background-attachment: fixed;
  background-size: cover;
}
          